<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo">
      <img src="assets/Logo/logo (2).svg" alt="Logo" />
    </a>

    <ul class="navbar-links">
      <li><a routerLink="/catalog">Каталог</a></li>
      <li><a routerLink="/gallery">Галерея</a></li>
      <li><a routerLink="/about-the-laboratory">О Лаборатории</a></li>
      <li><a routerLink="/contact">Контакты</a></li>
    </ul>

    <div class="navbar-icons">
      <button class="icon-button">
        <img src="assets/Logo/search.svg" alt="Search" />
      </button>
      <button class="icon-button">
        <img src="assets/Logo/log-in.svg" alt="Login" />
      </button>
    </div>
  </div>
</nav>
